openapi: 3.2.0
info:
  title: Evangelist Network Overview API
  version: 1.2.0
  summary: Sixteen years of API research as one API.
  description: 'The API Evangelist network — 5,000+ stories, 77 topic areas, 2,400+ governance building

    blocks (guidance, rules, policies, standards, strategies, schema, properties, experiences,

    lifecycle), conversations, videos, white papers, tools, timelines, services, and the API

    vocabulary — served as a single, searchable REST API.


    **Tiers.** The API works without a key on the free tier (5 req/s, 1,000 req/day). Requests

    from apievangelist.com network sites get the internal tier automatically. Higher-limit keys

    are available by request — email info@apievangelist.com.


    **Providers.** The API provider catalog (4,500+ companies) intentionally lives on

    [APIs.io](https://apis.io/developer/) — this API covers API Evangelist''s own research

    network and does not duplicate it.


    **MCP.** Every resource here is also available as MCP tools at

    `https://mcp.apievangelist.com/mcp` (Streamable HTTP), including concierge tools

    (`get_overview`, `guide_topic`) that bundle curated guidance for a topic.

    '
  contact:
    name: API Evangelist
    email: info@apievangelist.com
    url: https://apievangelist.com
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.apievangelist.com/v1
security:
- {}
- ApiKeyAuth: []
tags:
- name: Overview
  description: Service info and unified search across the whole network.
paths:
  /:
    get:
      operationId: getServiceInfo
      tags:
      - Overview
      summary: Info
      description: Counts per resource type, entry points, documentation links, and how to engage.
      responses:
        '200':
          description: Service overview.
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  version:
                    type: string
                  description:
                    type: string
                  counts:
                    type: object
                    additionalProperties:
                      type: integer
                  resources:
                    type: array
                    items:
                      type: string
                  documentation:
                    type: string
                    format: uri
                  openapi:
                    type: string
                    format: uri
                  mcp:
                    type: string
                    format: uri
                  engage:
                    $ref: '#/components/schemas/Engage'
              example:
                service: API Evangelist
                version: v1
                description: Sixteen years of API research — stories, topic areas, guidance, rules, policies, standards, strategies, and more — as one API. Built to help teams navigate the API landscape and find where API Evangelist can help.
                counts:
                  posts: 5267
                  areas: 77
                  guidance: 180
                  rules: 617
                  policies: 283
                  standards: 613
                  strategies: 75
                  schema: 11
                  properties: 791
                  experiences: 46
                  lifecycle: 29
                  conversations: 59
                  papers: 21
                  reports: 128
                  services: 25
                  solutions: 742
                  tools: 527
                  videos: 103
                  timelines: 565
                  vocabulary: 6988
                resources:
                - /v1/posts
                - /v1/areas
                - /v1/guidance
                - /v1/rules
                - /v1/policies
                - /v1/standards
                - /v1/strategies
                - /v1/schema
                - /v1/properties
                - /v1/experiences
                - /v1/lifecycle
                - /v1/conversations
                - /v1/papers
                - /v1/reports
                - /v1/services
                - /v1/solutions
                - /v1/vocabulary
                - /v1/newsletters
                - /v1/feeds
                - /v1/tools
                - /v1/videos
                - /v1/timelines
                - /v1/tags
                - /v1/contact
                synthesis:
                  guide: /v1/guide?topic= (Pro)
                  stats: /v1/stats (Pro)
                  related: /v1/{type}/{slug}/related
                tiers:
                  free: Browse, search, and read summaries across the whole network + tags + related.
                  pro: Full research content (include=content), curated topic guides (/guide), and catalog intelligence (/stats).
                  plans: https://developer.apievangelist.com/plans/
                search: /v1/search?q=
                documentation: https://developer.apievangelist.com/
                openapi: https://developer.apievangelist.com/apis/apievangelist-v1-openapi.yml
                mcp: https://mcp.apievangelist.com/mcp
                engage:
                  email: info@apievangelist.com
                  services_url: https://apievangelist.com/services/
                  newsletter: https://buttondown.com/apievangelist
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
  /search:
    get:
      operationId: searchNetwork
      tags:
      - Overview
      summary: Search
      description: 'Search every resource type at once. `meta.facets.types` carries per-type hit counts for the full result set (useful for filter chips); narrow with `types=`.

        '
      parameters:
      - $ref: '#/components/parameters/Q'
      - name: types
        in: query
        description: Comma-separated resource types to include (default all).
        schema:
          type: string
          example: posts,guidance,solutions
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Paged, type-faceted results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEnvelope'
              examples:
                gateway:
                  summary: Search "gateway" across the network
                  value:
                    meta:
                      total: 1835
                      page: 1
                      limit: 3
                      pages: 612
                      query:
                        q: gateway
                      facets:
                        types:
                          posts: 1076
                          areas: 22
                          guidance: 24
                          standards: 67
                    data:
                    - type: areas
                      slug: gateway
                      title: Gateway
                      summary: A collection of services, tooling, and open source solutions for API gateway management…
                      url: https://gateway.apievangelist.com
                      tags:
                      - API Gateway
                      - Traffic Management
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
components:
  schemas:
    SearchEnvelope:
      allOf:
      - $ref: '#/components/schemas/PagedEnvelope'
      - type: object
        properties:
          meta:
            type: object
            properties:
              facets:
                type: object
                properties:
                  types:
                    type: object
                    additionalProperties:
                      type: integer
    Engage:
      type: object
      properties:
        email:
          type: string
          format: email
        services_url:
          type: string
          format: uri
        newsletter:
          type: string
          format: uri
    PagedEnvelope:
      type: object
      properties:
        meta:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pages:
              type: integer
            query:
              type: object
              additionalProperties: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Doc'
    Doc:
      type: object
      description: One network resource. Extra type-specific fields (guest, outline, party, …) appear per type.
      properties:
        type:
          type: string
        slug:
          type: string
        title:
          type: string
        summary:
          type: string
        url:
          type: string
          format: uri
        tags:
          type: array
          items:
            type: string
        date:
          type: string
        content:
          type: string
          description: Full markdown body when include=content.
      additionalProperties: true
  headers:
    XRateLimitTier:
      description: The tier this request was served on — `free`, `pro`, `business`, `internal` or `owner`. Keyless requests are `free`; requests from an apievangelist.com origin are `internal`.
      schema:
        type: string
        examples:
        - free
    XRateLimitWindow:
      description: The quota window in seconds. Always 86400 (one day).
      schema:
        type: integer
        examples:
        - 86400
    XRateLimitLimit:
      description: The daily request quota for the tier that served this response.
      schema:
        type: integer
        examples:
        - 1000
    RateLimitPolicy:
      description: 'The rate-limit policy in force for the tier that served this response, in RFC 9331 quota-policy syntax: `"quota";q=1000;w=86400, "burst";q=5;w=1` — a daily quota and a per-second burst. This is the POLICY, not a live counter: `RateLimit-Remaining` and `RateLimit-Reset` are deliberately not sent, because the quota is enforced by the gateway and there is no per-key usage accounting to read. Pace against the policy, and treat a 429 as authoritative.'
      schema:
        type: string
        examples:
        - '"quota";q=1000;w=86400, "burst";q=5;w=1'
  parameters:
    Fields:
      name: fields
      in: query
      description: Comma-separated sparse field projection.
      schema:
        type: string
        example: slug,title,url
    Sort:
      name: sort
      in: query
      schema:
        type: string
        enum:
        - default
        - title
        - date
    Q:
      name: q
      in: query
      description: Free-text query over title, summary, tags, and body.
      schema:
        type: string
    Tags:
      name: tags
      in: query
      description: Comma-separated tag slugs.
      schema:
        type: string
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Match:
      name: match
      in: query
      description: Tag match mode.
      schema:
        type: string
        enum:
        - any
        - all
        default: any
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Optional — raises rate limits above the keyless free tier.
x-apis-io:
  tiers:
    free:
      label: Free
      description: Browse, search, and read summaries across the whole network — stories, areas, guidance, building blocks, papers, tags, related. Keyless.
    pro:
      label: Pro
      description: The research depth — full content (include=content), curated topic guides (/guide), and catalog intelligence (/stats). Requires X-API-Key.
      plans: https://developer.apievangelist.com/plans/
  mcp:
    endpoint: https://mcp.apievangelist.com/mcp
  agentSkills:
    index: https://apievangelist.com/.well-known/agent-skills/index.json
  prompts:
  - name: where_can_ae_help
    tier: free
    description: Map a team's API need to the relevant research areas + the services Kin Lane offers.
    uses:
    - search_api_evangelist
    - find_services
  - name: catch_up
    tier: free
    description: Catch up on a topic — the most recent stories, newest first.
    uses:
    - find_posts
  - name: research_topic
    tier: pro
    description: 'PRO — Deep-research a topic: the curated guide bundle plus the full research bodies.'
    uses:
    - guide_topic
    - get_post
    - find_related
  - name: governance_starter_kit
    tier: pro
    description: 'PRO — Assemble an API governance starter kit: guidance, rules, policies, standards + services.'
    uses:
    - guide_topic
    - find_building_blocks
  - name: vendor_landscape
    tier: pro
    description: PRO — Map the vendor + tooling landscape for a capability, with research context.
    uses:
    - find_solutions
    - find_tools
    - guide_topic
  resources:
  - uri: ae://overview
    tier: free
    description: Service root — what the network offers, counts, entry points, how to engage.
    operation: getServiceInfo
  - uri: ae://services
    tier: free
    description: The services Kin Lane offers teams.
    operation: listServices
  - uri: ae://contact
    tier: free
    description: Every way to reach API Evangelist.
    operation: getContact
  - uri: ae://stats
    tier: pro
    description: PRO — per-type counts, stories-per-year, top tags by reach.
    operation: getStats
  - uri: ae://area/{slug}
    tier: free
    description: One topic area with its related-area graph.
    operation: getArea
  - uri: ae://tag/{slug}
    tier: free
    description: One tag with per-type counts and everything it labels.
    operation: getTag
  - uri: ae://post/{slug}
    tier: free
    description: One story by slug.
    operation: getPost
  - uri: ae://guide/{topic}
    tier: pro
    description: PRO — a curated cross-network guide bundle for a topic.
    operation: getGuide
  operations:
    getServiceInfo:
      tier: free
      mcpTool: get_overview
    searchNetwork:
      tier: free
      mcpTool: search_api_evangelist
      agentSkill: brief-on-topic
    listPosts:
      tier: free
      mcpTool: find_posts
      agentSkill: brief-on-topic
    getPost:
      tier: free
      mcpTool: get_post
    listAreas:
      tier: free
      mcpTool: find_areas
      agentSkill: brief-on-topic
    getArea:
      tier: free
      mcpTool: get_area
    listGuidanceHistory:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceTechnology:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceBusiness:
      tier: free
      mcpTool: get_guidance_section
    listGuidancePolitics:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceGovernance:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceEvangelism:
      tier: free
      mcpTool: get_guidance_section
    listGuidance:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getGuidanceItem:
      tier: free
      mcpTool: get_building_block
    listPolicies:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getPoliciesItem:
      tier: free
      mcpTool: get_building_block
    listRules:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getRulesItem:
      tier: free
      mcpTool: get_building_block
    listStandards:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getStandardsItem:
      tier: free
      mcpTool: get_building_block
    listSolutions:
      tier: free
      mcpTool: find_solutions
      agentSkill: map-vendor-landscape
    getSolution:
      tier: free
      mcpTool: get_solution
    listTools:
      tier: free
      mcpTool: find_tools
      agentSkill: map-vendor-landscape
    getTool:
      tier: free
      mcpTool: get_tool
    listSchema:
      tier: free
      mcpTool: find_building_blocks
    getSchemaItem:
      tier: free
      mcpTool: get_building_block
    listProperties:
      tier: free
      mcpTool: find_building_blocks
    getPropertiesItem:
      tier: free
      mcpTool: get_building_block
    listStrategies:
      tier: free
      mcpTool: find_building_blocks
    getStrategiesItem:
      tier: free
      mcpTool: get_building_block
    listExperiences:
      tier: free
      mcpTool: find_building_blocks
    getExperiencesItem:
      tier: free
      mcpTool: get_building_block
    listLifecycle:
      tier: free
      mcpTool: find_building_blocks
    getLifecycleItem:
      tier: free
      mcpTool: get_building_block
    listConversations:
      tier: free
      mcpTool: find_conversations
    getConversation:
      tier: free
      mcpTool: get_conversation
    listVideos:
      tier: free
      mcpTool: find_videos
    getVideo:
      tier: free
      mcpTool: get_video
    listPapers:
      tier: free
      mcpTool: find_papers
      agentSkill: research-with-api-evangelist
    getPaper:
      tier: free
      mcpTool: get_paper
    listNewsletters:
      tier: free
      mcpTool: search_api_evangelist
    listVocabulary:
      tier: free
      mcpTool: find_vocabulary
    listVocabularyCategory:
      tier: free
      mcpTool: find_vocabulary
    listFeeds:
      tier: free
      mcpTool: get_feeds
    getTimelineApi:
      tier: free
      mcpTool: get_timeline
    getTimelineResources:
      tier: free
      mcpTool: get_timeline
    getTimelineIndustries:
      tier: free
      mcpTool: get_timeline
    getTimelinePeople:
      tier: free
      mcpTool: get_timeline
    listServices:
      tier: free
      mcpTool: find_services
      agentSkill: find-where-ae-helps
    getService:
      tier: free
      mcpTool: get_service
      agentSkill: find-where-ae-helps
    getContact:
      tier: free
      mcpTool: get_contact
      agentSkill: find-where-ae-helps
    listTags:
      tier: free
      mcpTool: find_tags
      agentSkill: brief-on-topic
    getTag:
      tier: free
      mcpTool: get_tag
      agentSkill: brief-on-topic
    getGuide:
      tier: pro
      mcpTool: guide_topic
      agentSkill: research-with-api-evangelist
    getStats:
      tier: pro
      mcpTool: get_stats
    getPostRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
    getAreaRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
    getPaperRelated:
      tier: free
      mcpTool: find_related
      agentSkill: research-with-api-evangelist
    getGuidanceRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
