openapi: 3.2.0
info:
  title: Evangelist Network Tags API
  version: 1.2.0
  summary: Sixteen years of API research as one API.
  description: 'The API Evangelist network — 5,000+ stories, 77 topic areas, 2,400+ governance building

    blocks (guidance, rules, policies, standards, strategies, schema, properties, experiences,

    lifecycle), conversations, videos, white papers, tools, timelines, services, and the API

    vocabulary — served as a single, searchable REST API.


    **Tiers.** The API works without a key on the free tier (5 req/s, 1,000 req/day). Requests

    from apievangelist.com network sites get the internal tier automatically. Higher-limit keys

    are available by request — email info@apievangelist.com.


    **Providers.** The API provider catalog (4,500+ companies) intentionally lives on

    [APIs.io](https://apis.io/developer/) — this API covers API Evangelist''s own research

    network and does not duplicate it.


    **MCP.** Every resource here is also available as MCP tools at

    `https://mcp.apievangelist.com/mcp` (Streamable HTTP), including concierge tools

    (`get_overview`, `guide_topic`) that bundle curated guidance for a topic.

    '
  contact:
    name: API Evangelist
    email: info@apievangelist.com
    url: https://apievangelist.com
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.apievangelist.com/v1
security:
- {}
- ApiKeyAuth: []
tags:
- name: Tags
  description: The tag taxonomy across the whole network — the map of everything API Evangelist covers, and the join key behind every /related response.
paths:
  /tags:
    get:
      operationId: listTags
      x-tier: free
      x-mcp-tool: find_tags
      x-agent-skill: brief-on-topic
      tags:
      - Tags
      summary: Browse and rank the network tag taxonomy.
      description: Every subject tag across 16k+ docs, ranked by frequency (default) or breadth (how many content types use it). Search with q. The map of what API Evangelist covers.
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - count
          - breadth
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of tags.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                meta:
                  total: 3308
                  page: 1
                  limit: 2
                  pages: 1654
                  query: {}
                data:
                - slug: api-evangelist
                  label: API Evangelist
                  count: 1131
                  types:
                    posts: 1131
                  breadth: 1
                - slug: apis
                  label: APIs
                  count: 962
                  types:
                    posts: 853
                    rules: 89
                    policies: 5
                    experiences: 1
                    conversations: 4
                    solutions: 1
                    timelines: 9
                  breadth: 7
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
  /tags/{slug}:
    get:
      operationId: getTag
      x-tier: free
      x-mcp-tool: get_tag
      x-agent-skill: brief-on-topic
      tags:
      - Tags
      summary: One tag with everything it labels across the network.
      description: The tag's per-type counts plus the docs it labels across every content type. Filter with types.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: types
        in: query
        description: Restrict to these content types (comma-separated).
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The tag and its tagged docs.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                meta:
                  total: 1131
                  page: 1
                  limit: 2
                  pages: 566
                  query:
                    tag: api-evangelist
                    types: null
                  tag:
                    slug: api-evangelist
                    label: API Evangelist
                    count: 1131
                    breadth: 1
                    types:
                      posts: 1131
                data:
                - slug: 2026-06-12-history-of-api-evangelist
                  title: History of API Evangelist
                  summary: ''
                  url: https://apievangelist.com/2026/06/12/history-of-api-evangelist/
                  tags:
                  - API Evangelist
                  - History
                  - Origin
                  - Storytelling
                  date: '2026-06-12'
                  image: https://kinlane-images.s3.amazonaws.com/apievangelist/1778714877409.jpeg
                  has_content: true
                  type: posts
                - slug: 2026-03-31-not-a-single-api-evangelist-post-in-march
                  title: Not a Single API Evangelist Post in March
                  summary: ''
                  url: https://apievangelist.com/2026/03/31/not-a-single-api-evangelist-post-in-march/
                  tags:
                  - AI
                  - Artificial Intelligence
                  - Storytelling
                  - API Evangelist
                  date: '2026-03-31'
                  image: https://kinlane-images.s3.amazonaws.com/shared/john-wayne-the-searchers-camel-in-desert.jpg
                  has_content: true
                  type: posts
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  headers:
    XRateLimitTier:
      description: The tier this request was served on — `free`, `pro`, `business`, `internal` or `owner`. Keyless requests are `free`; requests from an apievangelist.com origin are `internal`.
      schema:
        type: string
        examples:
        - free
    XRateLimitLimit:
      description: The daily request quota for the tier that served this response.
      schema:
        type: integer
        examples:
        - 1000
    XRateLimitWindow:
      description: The quota window in seconds. Always 86400 (one day).
      schema:
        type: integer
        examples:
        - 86400
    RateLimitPolicy:
      description: 'The rate-limit policy in force for the tier that served this response, in RFC 9331 quota-policy syntax: `"quota";q=1000;w=86400, "burst";q=5;w=1` — a daily quota and a per-second burst. This is the POLICY, not a live counter: `RateLimit-Remaining` and `RateLimit-Reset` are deliberately not sent, because the quota is enforced by the gateway and there is no per-key usage accounting to read. Pace against the policy, and treat a 429 as authoritative.'
      schema:
        type: string
        examples:
        - '"quota";q=1000;w=86400, "burst";q=5;w=1'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
  responses:
    NotFound:
      description: No such resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Optional — raises rate limits above the keyless free tier.
x-apis-io:
  tiers:
    free:
      label: Free
      description: Browse, search, and read summaries across the whole network — stories, areas, guidance, building blocks, papers, tags, related. Keyless.
    pro:
      label: Pro
      description: The research depth — full content (include=content), curated topic guides (/guide), and catalog intelligence (/stats). Requires X-API-Key.
      plans: https://developer.apievangelist.com/plans/
  mcp:
    endpoint: https://mcp.apievangelist.com/mcp
  agentSkills:
    index: https://apievangelist.com/.well-known/agent-skills/index.json
  prompts:
  - name: where_can_ae_help
    tier: free
    description: Map a team's API need to the relevant research areas + the services Kin Lane offers.
    uses:
    - search_api_evangelist
    - find_services
  - name: catch_up
    tier: free
    description: Catch up on a topic — the most recent stories, newest first.
    uses:
    - find_posts
  - name: research_topic
    tier: pro
    description: 'PRO — Deep-research a topic: the curated guide bundle plus the full research bodies.'
    uses:
    - guide_topic
    - get_post
    - find_related
  - name: governance_starter_kit
    tier: pro
    description: 'PRO — Assemble an API governance starter kit: guidance, rules, policies, standards + services.'
    uses:
    - guide_topic
    - find_building_blocks
  - name: vendor_landscape
    tier: pro
    description: PRO — Map the vendor + tooling landscape for a capability, with research context.
    uses:
    - find_solutions
    - find_tools
    - guide_topic
  resources:
  - uri: ae://overview
    tier: free
    description: Service root — what the network offers, counts, entry points, how to engage.
    operation: getServiceInfo
  - uri: ae://services
    tier: free
    description: The services Kin Lane offers teams.
    operation: listServices
  - uri: ae://contact
    tier: free
    description: Every way to reach API Evangelist.
    operation: getContact
  - uri: ae://stats
    tier: pro
    description: PRO — per-type counts, stories-per-year, top tags by reach.
    operation: getStats
  - uri: ae://area/{slug}
    tier: free
    description: One topic area with its related-area graph.
    operation: getArea
  - uri: ae://tag/{slug}
    tier: free
    description: One tag with per-type counts and everything it labels.
    operation: getTag
  - uri: ae://post/{slug}
    tier: free
    description: One story by slug.
    operation: getPost
  - uri: ae://guide/{topic}
    tier: pro
    description: PRO — a curated cross-network guide bundle for a topic.
    operation: getGuide
  operations:
    getServiceInfo:
      tier: free
      mcpTool: get_overview
    searchNetwork:
      tier: free
      mcpTool: search_api_evangelist
      agentSkill: brief-on-topic
    listPosts:
      tier: free
      mcpTool: find_posts
      agentSkill: brief-on-topic
    getPost:
      tier: free
      mcpTool: get_post
    listAreas:
      tier: free
      mcpTool: find_areas
      agentSkill: brief-on-topic
    getArea:
      tier: free
      mcpTool: get_area
    listGuidanceHistory:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceTechnology:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceBusiness:
      tier: free
      mcpTool: get_guidance_section
    listGuidancePolitics:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceGovernance:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceEvangelism:
      tier: free
      mcpTool: get_guidance_section
    listGuidance:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getGuidanceItem:
      tier: free
      mcpTool: get_building_block
    listPolicies:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getPoliciesItem:
      tier: free
      mcpTool: get_building_block
    listRules:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getRulesItem:
      tier: free
      mcpTool: get_building_block
    listStandards:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getStandardsItem:
      tier: free
      mcpTool: get_building_block
    listSolutions:
      tier: free
      mcpTool: find_solutions
      agentSkill: map-vendor-landscape
    getSolution:
      tier: free
      mcpTool: get_solution
    listTools:
      tier: free
      mcpTool: find_tools
      agentSkill: map-vendor-landscape
    getTool:
      tier: free
      mcpTool: get_tool
    listSchema:
      tier: free
      mcpTool: find_building_blocks
    getSchemaItem:
      tier: free
      mcpTool: get_building_block
    listProperties:
      tier: free
      mcpTool: find_building_blocks
    getPropertiesItem:
      tier: free
      mcpTool: get_building_block
    listStrategies:
      tier: free
      mcpTool: find_building_blocks
    getStrategiesItem:
      tier: free
      mcpTool: get_building_block
    listExperiences:
      tier: free
      mcpTool: find_building_blocks
    getExperiencesItem:
      tier: free
      mcpTool: get_building_block
    listLifecycle:
      tier: free
      mcpTool: find_building_blocks
    getLifecycleItem:
      tier: free
      mcpTool: get_building_block
    listConversations:
      tier: free
      mcpTool: find_conversations
    getConversation:
      tier: free
      mcpTool: get_conversation
    listVideos:
      tier: free
      mcpTool: find_videos
    getVideo:
      tier: free
      mcpTool: get_video
    listPapers:
      tier: free
      mcpTool: find_papers
      agentSkill: research-with-api-evangelist
    getPaper:
      tier: free
      mcpTool: get_paper
    listNewsletters:
      tier: free
      mcpTool: search_api_evangelist
    listVocabulary:
      tier: free
      mcpTool: find_vocabulary
    listVocabularyCategory:
      tier: free
      mcpTool: find_vocabulary
    listFeeds:
      tier: free
      mcpTool: get_feeds
    getTimelineApi:
      tier: free
      mcpTool: get_timeline
    getTimelineResources:
      tier: free
      mcpTool: get_timeline
    getTimelineIndustries:
      tier: free
      mcpTool: get_timeline
    getTimelinePeople:
      tier: free
      mcpTool: get_timeline
    listServices:
      tier: free
      mcpTool: find_services
      agentSkill: find-where-ae-helps
    getService:
      tier: free
      mcpTool: get_service
      agentSkill: find-where-ae-helps
    getContact:
      tier: free
      mcpTool: get_contact
      agentSkill: find-where-ae-helps
    listTags:
      tier: free
      mcpTool: find_tags
      agentSkill: brief-on-topic
    getTag:
      tier: free
      mcpTool: get_tag
      agentSkill: brief-on-topic
    getGuide:
      tier: pro
      mcpTool: guide_topic
      agentSkill: research-with-api-evangelist
    getStats:
      tier: pro
      mcpTool: get_stats
    getPostRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
    getAreaRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
    getPaperRelated:
      tier: free
      mcpTool: find_related
      agentSkill: research-with-api-evangelist
    getGuidanceRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
