openapi: 3.2.0
info:
  title: Evangelist Network Areas API
  version: 1.2.0
  summary: Sixteen years of API research as one API.
  description: 'The API Evangelist network — 5,000+ stories, 77 topic areas, 2,400+ governance building

    blocks (guidance, rules, policies, standards, strategies, schema, properties, experiences,

    lifecycle), conversations, videos, white papers, tools, timelines, services, and the API

    vocabulary — served as a single, searchable REST API.


    **Tiers.** The API works without a key on the free tier (5 req/s, 1,000 req/day). Requests

    from apievangelist.com network sites get the internal tier automatically. Higher-limit keys

    are available by request — email info@apievangelist.com.


    **Providers.** The API provider catalog (4,500+ companies) intentionally lives on

    [APIs.io](https://apis.io/developer/) — this API covers API Evangelist''s own research

    network and does not duplicate it.


    **MCP.** Every resource here is also available as MCP tools at

    `https://mcp.apievangelist.com/mcp` (Streamable HTTP), including concierge tools

    (`get_overview`, `guide_topic`) that bundle curated guidance for a topic.

    '
  contact:
    name: API Evangelist
    email: info@apievangelist.com
    url: https://apievangelist.com
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://api.apievangelist.com/v1
security:
- {}
- ApiKeyAuth: []
tags:
- name: Areas
  description: The 77 focused topic areas and their related-area graph.
paths:
  /areas:
    get:
      operationId: listAreas
      tags:
      - Areas
      summary: Areas
      description: Search or browse the 77 focused topic areas of the network.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The 77 topic areas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEnvelope'
              example:
                meta:
                  total: 77
                  page: 1
                  limit: 2
                  pages: 39
                  query:
                    tags: null
                data:
                - slug: agents-skills
                  title: Agent Skills
                  summary: An index and topic collection covering Agent Skills, the packaged, file-based capability units that AI coding agents load to extend their behavior. Agent Skills bundle…
                  url: https://agents-skills.apievangelist.com
                  icon: https://agents-skills.apievangelist.com/icon-thumb.png
                  tags:
                  - Agent Skills
                  - Claude Skills
                  - Capability Packages
                  - AI Agents
                  - Developer Tooling
                  related:
                  - agents
                  - ai-automation
                  - aiops
                  - portal
                  - management
                  - ide
                  conforming: true
                  type: areas
                - slug: agents
                  title: Agents
                  summary: An index and topic collection covering AI agents, agent frameworks, and agent runtimes that enable autonomous reasoning, tool use, and multi-step task execution. This profile…
                  url: https://agents.apievangelist.com
                  icon: https://agents.apievangelist.com/icon-thumb.png
                  tags:
                  - AI Agents
                  - Agent Frameworks
                  - Agent Orchestration
                  - Agent Runtimes
                  - LLM Orchestration
                  related:
                  - agents-skills
                  - ai-automation
                  - containers
                  - ipaas
                  - aiops
                  - orchestration
                  conforming: true
                  type: areas
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
  /areas/{slug}:
    get:
      operationId: getArea
      tags:
      - Areas
      summary: Area
      description: One topic area with its related-area graph resolved to full objects.
      parameters:
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: The area; `related` is resolved to `{slug,title,url,summary}` objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Area'
              example:
                slug: agents-skills
                title: Agent Skills
                summary: An index and topic collection covering Agent Skills, the packaged, file-based capability units that AI coding agents load to extend their behavior. Agent Skills bundle…
                url: https://agents-skills.apievangelist.com
                icon: https://agents-skills.apievangelist.com/icon-thumb.png
                tags:
                - Agent Skills
                - Claude Skills
                - Capability Packages
                - AI Agents
                - Developer Tooling
                related:
                - slug: agents
                  title: Agents
                  url: https://agents.apievangelist.com
                  summary: An index and topic collection covering AI agents, agent frameworks, and agent runtimes that enable autonomous reasoning, tool use, and multi-step task execution. This profile…
                - slug: ai-automation
                  title: AI Automation
                  url: https://ai-automation.apievangelist.com
                  summary: AI automation combines artificial intelligence with workflow and process automation to create intelligent, autonomous systems including AI agent frameworks, autonomous coding…
                - slug: aiops
                  title: AIOps
                  url: https://aiops.apievangelist.com
                  summary: AIOps applies artificial intelligence and machine learning to IT operations, enabling intelligent alerting, anomaly detection, automated root cause analysis, and predictive…
                - slug: portal
                  title: Portal
                  url: https://portal.apievangelist.com
                  summary: A curated index of services, tooling, and open source solutions for API developer portals, API catalogs, API marketplaces, and developer experience platforms. This collection…
                - slug: management
                  title: Management
                  url: https://management.apievangelist.com
                  summary: An index and topic collection covering full-stack API management platforms — solutions that combine an API gateway, developer portal, analytics, monetization, governance, and…
                - slug: ide
                  title: IDE
                  url: https://ide.apievangelist.com
                  summary: An index and topic collection covering integrated development environments (IDEs), code editors, and cloud workspaces with APIs. This topic captures the editors, IDEs, and…
                conforming: true
                type: areas
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '404':
          $ref: '#/components/responses/NotFound'
  /areas/{slug}/related:
    get:
      operationId: getAreaRelated
      x-tier: free
      x-mcp-tool: find_related
      x-agent-skill: brief-on-topic
      tags:
      - Areas
      summary: Related content across the network.
      description: Content across the network related to a topic area. Ranked by shared-tag relevance (rare, specific tags weigh most). Cross-type by default; filter with types.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: types
        in: query
        description: Restrict to these content types (comma-separated).
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of related content.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                meta:
                  total: 42
                  page: 1
                  limit: 2
                  pages: 21
                  query:
                    related_to: areas:agents-skills
                    types: null
                data:
                - slug: 2026-09-10-agent-skills-new-value-new-problems
                  title: 'Agent Skills: New Value, New Problems'
                  summary: ''
                  url: https://apievangelist.com/2026/09/10/agent-skills-new-value-new-problems/
                  tags:
                  - Agent Skills
                  - Agents
                  - AI
                  - Governance
                  - MCP
                  - Capabilities
                  - Security
                  date: '2026-09-10'
                  image: https://kinlane-images.s3.amazonaws.com/apievangelist/api-evangelist-images/agent-skills-new-value-new-problems.png
                  has_content: true
                  type: posts
                  shared_tags: 1
                  relevance: 6.916
                - slug: 2026-08-17-your-internal-docs-need-the-same-scoring-discipline-as-your-public-apis
                  title: Your Internal Docs Need the Same Scoring Discipline as Your Public APIs
                  summary: ''
                  url: https://apievangelist.com/2026/08/17/your-internal-docs-need-the-same-scoring-discipline-as-your-public-apis/
                  tags:
                  - Agent Skills
                  - Documentation
                  - Governance
                  - Information Architecture
                  - Metadata
                  - Enterprise
                  - Taxonomy
                  date: '2026-08-17'
                  image: https://kinlane-images.s3.amazonaws.com/apievangelist/api-evangelist-images/your-internal-docs-need-the-same-scoring-discipline-as-your-public-apis.png
                  has_content: true
                  type: posts
                  shared_tags: 1
                  relevance: 6.916
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  headers:
    XRateLimitTier:
      description: The tier this request was served on — `free`, `pro`, `business`, `internal` or `owner`. Keyless requests are `free`; requests from an apievangelist.com origin are `internal`.
      schema:
        type: string
        examples:
        - free
    XRateLimitLimit:
      description: The daily request quota for the tier that served this response.
      schema:
        type: integer
        examples:
        - 1000
    XRateLimitWindow:
      description: The quota window in seconds. Always 86400 (one day).
      schema:
        type: integer
        examples:
        - 86400
    RateLimitPolicy:
      description: 'The rate-limit policy in force for the tier that served this response, in RFC 9331 quota-policy syntax: `"quota";q=1000;w=86400, "burst";q=5;w=1` — a daily quota and a per-second burst. This is the POLICY, not a live counter: `RateLimit-Remaining` and `RateLimit-Reset` are deliberately not sent, because the quota is enforced by the gateway and there is no per-key usage accounting to read. Pace against the policy, and treat a 429 as authoritative.'
      schema:
        type: string
        examples:
        - '"quota";q=1000;w=86400, "burst";q=5;w=1'
  schemas:
    PagedEnvelope:
      type: object
      properties:
        meta:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            pages:
              type: integer
            query:
              type: object
              additionalProperties: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Doc'
    Doc:
      type: object
      description: One network resource. Extra type-specific fields (guest, outline, party, …) appear per type.
      properties:
        type:
          type: string
        slug:
          type: string
        title:
          type: string
        summary:
          type: string
        url:
          type: string
          format: uri
        tags:
          type: array
          items:
            type: string
        date:
          type: string
        content:
          type: string
          description: Full markdown body when include=content.
      additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
    Area:
      allOf:
      - $ref: '#/components/schemas/Doc'
      - type: object
        properties:
          related:
            type: array
            items:
              type: object
              properties:
                slug:
                  type: string
                title:
                  type: string
                url:
                  type: string
                  format: uri
                summary:
                  type: string
  parameters:
    Fields:
      name: fields
      in: query
      description: Comma-separated sparse field projection.
      schema:
        type: string
        example: slug,title,url
    Q:
      name: q
      in: query
      description: Free-text query over title, summary, tags, and body.
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    Tags:
      name: tags
      in: query
      description: Comma-separated tag slugs.
      schema:
        type: string
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  responses:
    NotFound:
      description: No such resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Optional — raises rate limits above the keyless free tier.
x-apis-io:
  tiers:
    free:
      label: Free
      description: Browse, search, and read summaries across the whole network — stories, areas, guidance, building blocks, papers, tags, related. Keyless.
    pro:
      label: Pro
      description: The research depth — full content (include=content), curated topic guides (/guide), and catalog intelligence (/stats). Requires X-API-Key.
      plans: https://developer.apievangelist.com/plans/
  mcp:
    endpoint: https://mcp.apievangelist.com/mcp
  agentSkills:
    index: https://apievangelist.com/.well-known/agent-skills/index.json
  prompts:
  - name: where_can_ae_help
    tier: free
    description: Map a team's API need to the relevant research areas + the services Kin Lane offers.
    uses:
    - search_api_evangelist
    - find_services
  - name: catch_up
    tier: free
    description: Catch up on a topic — the most recent stories, newest first.
    uses:
    - find_posts
  - name: research_topic
    tier: pro
    description: 'PRO — Deep-research a topic: the curated guide bundle plus the full research bodies.'
    uses:
    - guide_topic
    - get_post
    - find_related
  - name: governance_starter_kit
    tier: pro
    description: 'PRO — Assemble an API governance starter kit: guidance, rules, policies, standards + services.'
    uses:
    - guide_topic
    - find_building_blocks
  - name: vendor_landscape
    tier: pro
    description: PRO — Map the vendor + tooling landscape for a capability, with research context.
    uses:
    - find_solutions
    - find_tools
    - guide_topic
  resources:
  - uri: ae://overview
    tier: free
    description: Service root — what the network offers, counts, entry points, how to engage.
    operation: getServiceInfo
  - uri: ae://services
    tier: free
    description: The services Kin Lane offers teams.
    operation: listServices
  - uri: ae://contact
    tier: free
    description: Every way to reach API Evangelist.
    operation: getContact
  - uri: ae://stats
    tier: pro
    description: PRO — per-type counts, stories-per-year, top tags by reach.
    operation: getStats
  - uri: ae://area/{slug}
    tier: free
    description: One topic area with its related-area graph.
    operation: getArea
  - uri: ae://tag/{slug}
    tier: free
    description: One tag with per-type counts and everything it labels.
    operation: getTag
  - uri: ae://post/{slug}
    tier: free
    description: One story by slug.
    operation: getPost
  - uri: ae://guide/{topic}
    tier: pro
    description: PRO — a curated cross-network guide bundle for a topic.
    operation: getGuide
  operations:
    getServiceInfo:
      tier: free
      mcpTool: get_overview
    searchNetwork:
      tier: free
      mcpTool: search_api_evangelist
      agentSkill: brief-on-topic
    listPosts:
      tier: free
      mcpTool: find_posts
      agentSkill: brief-on-topic
    getPost:
      tier: free
      mcpTool: get_post
    listAreas:
      tier: free
      mcpTool: find_areas
      agentSkill: brief-on-topic
    getArea:
      tier: free
      mcpTool: get_area
    listGuidanceHistory:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceTechnology:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceBusiness:
      tier: free
      mcpTool: get_guidance_section
    listGuidancePolitics:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceGovernance:
      tier: free
      mcpTool: get_guidance_section
    listGuidanceEvangelism:
      tier: free
      mcpTool: get_guidance_section
    listGuidance:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getGuidanceItem:
      tier: free
      mcpTool: get_building_block
    listPolicies:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getPoliciesItem:
      tier: free
      mcpTool: get_building_block
    listRules:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getRulesItem:
      tier: free
      mcpTool: get_building_block
    listStandards:
      tier: free
      mcpTool: find_building_blocks
      agentSkill: governance-starter-kit
    getStandardsItem:
      tier: free
      mcpTool: get_building_block
    listSolutions:
      tier: free
      mcpTool: find_solutions
      agentSkill: map-vendor-landscape
    getSolution:
      tier: free
      mcpTool: get_solution
    listTools:
      tier: free
      mcpTool: find_tools
      agentSkill: map-vendor-landscape
    getTool:
      tier: free
      mcpTool: get_tool
    listSchema:
      tier: free
      mcpTool: find_building_blocks
    getSchemaItem:
      tier: free
      mcpTool: get_building_block
    listProperties:
      tier: free
      mcpTool: find_building_blocks
    getPropertiesItem:
      tier: free
      mcpTool: get_building_block
    listStrategies:
      tier: free
      mcpTool: find_building_blocks
    getStrategiesItem:
      tier: free
      mcpTool: get_building_block
    listExperiences:
      tier: free
      mcpTool: find_building_blocks
    getExperiencesItem:
      tier: free
      mcpTool: get_building_block
    listLifecycle:
      tier: free
      mcpTool: find_building_blocks
    getLifecycleItem:
      tier: free
      mcpTool: get_building_block
    listConversations:
      tier: free
      mcpTool: find_conversations
    getConversation:
      tier: free
      mcpTool: get_conversation
    listVideos:
      tier: free
      mcpTool: find_videos
    getVideo:
      tier: free
      mcpTool: get_video
    listPapers:
      tier: free
      mcpTool: find_papers
      agentSkill: research-with-api-evangelist
    getPaper:
      tier: free
      mcpTool: get_paper
    listNewsletters:
      tier: free
      mcpTool: search_api_evangelist
    listVocabulary:
      tier: free
      mcpTool: find_vocabulary
    listVocabularyCategory:
      tier: free
      mcpTool: find_vocabulary
    listFeeds:
      tier: free
      mcpTool: get_feeds
    getTimelineApi:
      tier: free
      mcpTool: get_timeline
    getTimelineResources:
      tier: free
      mcpTool: get_timeline
    getTimelineIndustries:
      tier: free
      mcpTool: get_timeline
    getTimelinePeople:
      tier: free
      mcpTool: get_timeline
    listServices:
      tier: free
      mcpTool: find_services
      agentSkill: find-where-ae-helps
    getService:
      tier: free
      mcpTool: get_service
      agentSkill: find-where-ae-helps
    getContact:
      tier: free
      mcpTool: get_contact
      agentSkill: find-where-ae-helps
    listTags:
      tier: free
      mcpTool: find_tags
      agentSkill: brief-on-topic
    getTag:
      tier: free
      mcpTool: get_tag
      agentSkill: brief-on-topic
    getGuide:
      tier: pro
      mcpTool: guide_topic
      agentSkill: research-with-api-evangelist
    getStats:
      tier: pro
      mcpTool: get_stats
    getPostRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
    getAreaRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
    getPaperRelated:
      tier: free
      mcpTool: find_related
      agentSkill: research-with-api-evangelist
    getGuidanceRelated:
      tier: free
      mcpTool: find_related
      agentSkill: brief-on-topic
